/*-------------------TAGS------------------*/
h3.name {
    display: inline-block;
    padding-left: 2%;
}

h3.course, h3.price {
    padding-right: 2%;
    float: right;
}
/*-------------------TITLE AND CONTAINER(tables list & menu)------------------*/
.title {
    text-align: center;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
/*-------------------TABLES-LIST------------------*/
.tables-list {
    flex: 1;
    margin: 1%;
    border: 4px solid black;
    padding: 10px;
    text-align: center;
}

#search1 {
    border: 2px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    width: 75%;
    height: 2em;
    margin-left: 5px;
    font-size: 0.9em;   
}

.tables {
    height: 70vh;
    overflow-y: auto;
}

.table {
    padding: 5px;
    border: 3px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    visibility: visible;
    text-align: left;
    padding-left: 5%;
}

.table :hover, .table :focus {
    cursor: pointer;
}
/*-------------------MENU------------------*/
.menu {
    flex: 3;
    margin: 1%;
    border: 4px solid black;
    margin-left: 1em;
    padding: 10px;
    text-align: center;
}

.items-list {
    height: 70vh;
    overflow: auto;
}

#search2 {
    border: 2px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    width: 50%;
    height: 2em;
    margin-left: 5px;
    font-size: 0.9em;
    display: inline-block;
    
}

.item {
    padding: 5px;
    border: 3px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    text-align: left;
    overflow: hidden;
}

#course-type {
    margin-left: 5%;
    border: 3px solid black;
    padding: 2px;
    height: 2em;
    box-shadow: 3px 3px 1px gray;
    font-size: 0.9em;
}
/*-------------------TABLE DETAILS------------------*/
.table-details {
    display: none;
    position: fixed;
    z-index: 1; 
    margin: 0;
    top: 30%;
    left: 30%;
    
    overflow: auto;
    border: 2px solid black;
    background-color: white;
    opacity: 100%;
    width: 40%;
    height: 40%;
}

.content { /*similar to both table details & bill details*/
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

#orders-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#orders-table, th, td {
    border: 2px solid black;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#bill {
    width: 30%;
    border: 2px solid black;
    margin: 1em;
}
/*-------------------BILL DETAILS------------------*/
#billButton {
    margin-left: 2%;
    border: 3px solid black;
    padding: 2px;
    height: 2em;
    width: 5%;
    box-shadow: 3px 3px 1px gray;
    font-size: 0.9em;
}

#billsHeading {
    display: inline-block;
    font-size: 1.5em;
}

.bills {
    display: none;
    position: fixed;
    z-index: 1; 
    margin: 0;
    top: 30%;
    left: 30%;
    
    overflow: auto;
    border: 2px solid black;
    background-color: white;
    opacity: 100%;
    width: 40%;
    height: 40%;
}

#bills-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#bills-table, th, td {
    border: 2px solid black;
}

.DTOrder, #done {
    display: none;
}

/*-------------------SCREEN SIZE------------------*/
@media screen and (max-width: 900px) {
    .title {
        margin-bottom: 0;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        align-items: flex-start;
        justify-content: center;
    }

    #billButton {
        width: fit-content;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .container {
        display: block;
        justify-content: center;
    }

    .tables-list {
        height: 45vh;
        width: 90%;
        margin: 5px;
    }

    .tables {
        height: 30vh;
        padding: 1px;
    }

    .total-items {
        display: inline-block;
        margin: 0;
    }

    .total-price {
        display: inline-block;
        margin: 0;
    }

    .menu {
        height: 45vh;
        width: 90%;
        margin: 5px;
    }

    .items-list {
        height: 29vh;
        padding: 1px;
    }

    .table-details {
        width: 80%;
        top: 10%;
        left: 10%;
    }

    .bills {
        width: 80%;
        top: 10%;
        left: 10%;
    }
}