.title {
    text-align: center;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.tables-list {
    width: 20vw;
    height: max-content;
    border: 4px solid black;
    padding: 10px;
    text-align: center;
}

.menu {
    width: 70vw;
    height: max-content;
    border: 4px solid black;
    margin-left: 1em;
    padding: 10px;
    text-align: center;
}

#search1 {
    border: 2px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    width: 75%;
    height: 2em;
    margin-left: 5px;
    font-size: 0.9em;   
}

#search2 {
    border: 2px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    width: 60%;
    height: 2em;
    margin-left: 5px;
    font-size: 0.9em;
    display: inline-block;
    
}

.table {
    padding: 5px;
    border: 3px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    visibility: visible;
    text-align: left;
    padding-left: 5%;
}

.table :hover, .table :focus {
    cursor: pointer;
}

.item {
    padding: 5px;
    border: 3px solid black;
    margin: 5px;
    box-shadow: 3px 3px 1px gray;
    text-align: left;
    overflow: hidden;
}

.table-details {
    display: none;
    position: fixed;
    z-index: 1; 
    margin: 0;
    top: 30%;
    left: 30%;
    
    overflow: auto;
    border: 2px solid black;
    background-color: white;
    opacity: 100%;
    width: 40%;
    height: 40%;
}

.content {
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

#orders-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#orders-table, th, td {
    border: 2px solid black;
}

h3.name {
    display: inline-block;
    padding-left: 2%;
}

h3.price {
    padding-right: 2%;
    float: right;
}

#course-type {
    margin-left: 5%;
    border: 3px solid black;
    padding: 2px;
}

#bill {
    width: 30%;
    border: 2px solid black;
    margin: 1em;
}


@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        align-items: flex-start;
    }

    .tables-list {
        width: 20%;
    }

    .menu {
        width: 60%;
    }

    .table-details {
        width: 30%;
    }
}